<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<header>
		<h1>AClass</h1>
		<nav>
			<ul>
				<li><a href="public/">Registro de alumnos y grupos</a></li>
				<li><a href="busqueda.php">Busquedas y modificaciones</a></li>
				<li><a href="#">Acerca de nosotros</a></li>
			</ul>
		</nav>
	</header>
	
	<!--<aside>
		<p class="aside-p">
			Este es un programa que permite la administracion de una clase,
			ya sea desde cargar notas hasta obtener estadisticas de los 
			alumnos y su rendimiento
		</p>
	</aside>-->

</body>
</html>